<title>SentiLyrics</title>

<!-- CSS concatenated and minified via ant build script-->
<link rel="stylesheet" href="stylesheets/reset.css">
<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/style_bubble.css">
<!-- end CSS-->

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="/javascripts/libs/modernizr-2.0.6.min.js"></script>
