<!DOCTYPE html>
<html>
  <head><% include partials/head %></head>
  <body>
    <header><% include partials/header %></header>
    <div id="beatles" class="col-lg-12 col-sm-12"></div> <!-- end of beatles div -->

    <div id="errorAlertMessage" class="alert alert-dismissible alert-danger col-lg-8 col-lg-offset-2 col-sm-12" style="display:none">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Warning!</h4>
      <p>That choice is unavailable. <a href="#" class="alert-link" id="alertLinkId">Please try again!</a></p>
    </div>

    <div class="col-lg-4 col-lg-offset-4 col-sm-12" id="loginModal" style="display:none">
      <div id="lyricsSearchForm" class="tab-content">
        <fieldset>
          <div class="control-group">
            <label class="control-label">Artist</label>
            <div class="controls">
              <input type="text" id="formArtistSearch" name="artistSearch" class="form-control" for="focusedInput" placeholder="enter an artist" class="col-lg-12" required="true" onkeypress="handle(event)" autocomplete="off">
            </div>
          </div>

          <form action='/lyrics' method="POST">
            <div class="control-group" id="trackSelectDiv" style="display:none" >
              <label class="control-label">Track</label>
              <div class="controls">
                <select name="songSearch" class="col-lg-12 col-sm-12" id="drop" onchange='this.form.submit()'>
                  <option value="">-- Select --</option>
                </select>
              </div>
            </div>
          </form>
        </fieldset>
      </div>
    </div>

    <div class="jumbotron col-lg-8 col-lg-offset-2 col-sm-12" id="jumbotron" style="display:none">
      <h1>SentiLyrics</h1>
      <h2>Get sentiment analysis on song lyrics</h2>
      <a href="#" id="startButton" class="btn btn-lg">Get Started</a>
    </div>


    <script type="text/javascript">
      var error = "<%= error %>"

      //FORM LOADING CODE
      //if search is unsuccessful from POST /lyrics, then display error message
      if (error == "error") {
        $('#errorAlertMessage').show();
      };

      //clears jumbotron and error message
      $('#alertLinkId').on('click', hideJumbotron);
      $('#startButton').on('click', hideJumbotron);

      function hideJumbotron() {
        $('.jumbotron').hide();
        $('#loginModal').fadeIn(200);
        $('#errorAlertMessage').hide();
      }

      function handle(event){
        search = $( "#formArtistSearch" ).val();

        if(event.keyCode === 13){
          $('#drop').empty();
          $('#loginModal img').remove();
          $('#artistSearch').val(search);
          musixmatchAPIArtistSearch(search);
          $('#drop').prepend("<option value=''>-- Select --</option>").fadeIn(500);
          $('#hiddenSearchField').remove();
          $('#trackSelectDiv').prepend("<input type='hidden' name='artistSearch' id='hiddenSearchField' value='" + search + "'>")
        }
        return false;
      };


    // calls the musixmatch API, returns all tracks by given artist
    // I moved this to the server to protect my API key
    function musixmatchAPIArtistSearch(userInput){
      $.ajax({
        type: "POST",
        data: {
          search: userInput
        },
        url: "/apikey",
        error: function(jqXHR, textStatus, errorThrown) {
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);
        },
        success: function(data) {
          data = data.data.message.body;
          console.log("line 96", data.track_list);
          artistImage = data.track_list[0].track.album_coverart_350x350 || (data.track_list[1].track.album_coverart_350x350 || data.track_list[1].track.album_coverart_100x100);

          artistImage800 = data.track_list[0].track.album_coverart_800x800 || artistImage;

          // console.log(data);

          $('#trackSelectDiv').fadeIn(300);
          artistTracksArray = [];
          trackListArray = data.track_list;

          trackListArray.forEach(function(track){
            artistTracksArray.push(track.track.track_name);
          })

          $.each(artistTracksArray.sort(), function(index, name){
            $('#drop').append("<option value='" + name + "'>" + name + "</option>");
          });

          // $('#loginModal').append("<img src='" + artistImage + "' style='margin-top:1em;border: 1px solid black;height:18em;width:18em'>")
          //     .fadeIn(500).css('height', '28em');

          $('#trackSelectDiv').prepend("<input type='hidden' name='artistImage' value='" + artistImage800 + "'>");
        }
      });
    };

    $('#jumbotron').fadeIn(500);


    </script>

  </body>
</html>
