<!DOCTYPE html>
<html>
  <head>
    <title>Word Frequency in Song Titles</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- CSS concatenated and minified via ant build script-->
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style_bubble.css">
    <!-- end CSS-->

    <script src="/javascripts/libs/modernizr-2.0.6.min.js"></script>

  </head>
<body>
  <h1>What words are used in song...</h1>
  <h2>lyrics?</h2>
  <form action="/lyrics" method="post">
    <input type="text" placeholder="artist" id="searchCond" name="artistSearch"/>
    <input type="text" placeholder="song" id="searchCond" name="songSearch"/>
    <button value="Submit" id="artistSearch">Search</button>
  </form>

  <h2>titles?</h2>
  <form action="/albums" method="post">
    <input type="text" placeholder="artist" id="searchCond" name="artistSearch"/>
    <button value="Submit" id="artistSearch">Search</button>
  </form>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="/javascripts/libs/papaparse.min.js"></script>
  <script defer src="/javascripts/plugins.js"></script>
  <script src="/javascripts/libs/coffee-script.js"></script>
  <script src="/javascripts/libs/d3.min.js"></script>
  <script src="/javascripts/vis.js"></script>
  <script src="/javascripts/script.js"></script>

</body>
</html>