<!DOCTYPE html>
<html>
  <head><% include partials/head %></head>
  <body>
    <header><% include partials/header %></header>

    <div id="errorAlertMessage" class="alert alert-dismissible alert-warning col-lg-8 col-lg-offset-2 col-sm-12" style="display:none">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Warning!</h4>
      <p>That choice is unavailable. <a href="#" class="alert-link" id="alertLinkId">Please try again!</a></p>
    </div>

    <div class="col-lg-4 col-lg-offset-4 col-sm-12" id="loginModal" style="display:none">
      <div id="lyricsSearchForm" class="tab-content">
        <fieldset>
          <div class="control-group">
            <label class="control-label" style="padding-top:11px; margin-bottom:0px">AJAX Song Lyric</label>
            <div class="controls">
              <input type="text" id="formArtistSearch" name="artistSearch" class="form-control" for="focusedInput" placeholder="artist" class="col-lg-12" required="true" onkeypress="handle(event)" autocomplete="off">
            </div>
          </div>

          <form action='/lyrics' method="POST">  
            <div class="control-group" id="trackSelectDiv" style="display:none" >
              <label class="control-label" style="padding-top:11px; margin-bottom:0px">Track</label>
              <div class="controls">
                <select name="songSearch" class="col-lg-12 col-sm-12" id="drop" onchange='this.form.submit()'>
                  <option value="">-- Select --</option>
                </select>
              </div>
            </div>
          </form>
        </fieldset>
      </div>
    </div>

    <div class="jumbotron col-lg-8 col-lg-offset-2 col-sm-12">
      <h1>SentiLyrics</h1>
      <h2>Get sentiment analysis on song lyrics or titles</h2>
      <a href="#" id="startButton" class="btn btn-lg">Get Started</a>
    </div>   

    <script type="text/javascript">
      var error = "<%= error %>"

      //FORM LOADING CODE
      //if search is unsuccessful from POST /lyrics, then display error message
      if (error == "error") {
        $('#errorAlertMessage').show();
      };

      //clears jumbotron and error message
      $('#alertLinkId').on('click', hideJumbotron);
      $('#startButton').on('click', hideJumbotron);

      function hideJumbotron() {
        $('.jumbotron').hide();
        $('#loginModal').show();
        $('#startDiv').show();
        $('#errorAlertMessage').hide();
      }    

      function handle(event){
        var search = $( "#formArtistSearch" ).val();
        
        if(event.keyCode === 13){
          $('#artistSearch').val(search);
          musixmatchAPIArtistSearch(search);  
          $('#trackSelectDiv').prepend("<input type='hidden' name='artistSearch' value='" + search + "'>");
        }
        return false;
      }
 
    // calls the musixmatch API, returns all tracks by given artist
    function musixmatchAPIArtistSearch(userInput){
      console.log(userInput);
      $.ajax({
        type: "GET",
        data: {
            apikey:"45f030feddac66fcfa2f9e9f659608c4",
            page_size: 100,
            // q_track:"back to december",
            q_artist: userInput,
            // f_has_lyrics: 1, //only return results with lyrics
            format:"jsonp",
            callback:"jsonp_callback"
        },
        url: "https://api.musixmatch.com/ws/1.1/track.search",
        dataType: "jsonp",
        jsonpCallback: 'jsonp_callback',
        contentType: 'application/json',
        error: function(jqXHR, textStatus, errorThrown) {
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);
        },
        success: function(data) {
          trackListArray = data.message.body.track_list;
          artistTracksArray = [];

          $('#trackSelectDiv').show();

          trackListArray.forEach(function(track){            
            artistTracksArray.push(track.track.track_name);
          })
         
          $.each(artistTracksArray.sort(), function(index, name){
              $('#drop').append("<option value='" + name + "'>" + name + "</option>");
           });          
        } 
      }) //end of AJAX
    } //end of musixmatchAPIArtistSearch function










    </script>

  </body>
</html>