<!DOCTYPE html>
<html>
  <head>
    <title>Word Frequency in Song Titles</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </head>
<body>
  <h1>How frequently are certain words used in <%= search %>'s song titles?</h1>
  <form>
    Artist: <input type="text" placeholder="artist" id="searchCond"/>
    <button value="Submit" id="artistSearch">Search</button>
  </form>
  
  <div id='artist'></div>
  <div id='lyric'></div>

</body>
</html>