<!DOCTYPE html>
<html>
  <head>
    <title>Word Frequency in Song Titles</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/wordcloud2.js"></script>
    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/lyrics.js"></script>
  </head>
<body>
  <h1>How frequently are words used in song titles?</h1>
  <form>
    Artist: <input type="text" placeholder="artist" id="searchCond" name="userSearch"/>
    <button value="Submit" id="artistSearch">Search</button>
  </form>

      <!-- <form method="post" action="/">
      <label for="artist_search">Artist</label><br>
      <input type="text" name="artist_search" id="artist_search"><br>

      <label for="song_search">Song</label><br>
      <input type="text" name="song_search" id="song_search"><br>

      <button>Go go gadget Postmaker</button><br>
    </form> -->

  <!-- <div id='artist'></div> -->
  <canvas id="my_canvas" width="800px" height="600px"></canvas>
  <div><%= lyrics %></div>
  <!-- <div>
    <div id="my_canvas" style="width:700px;height:600px"></div>
  </div> -->
  <!-- <div id='lyric'></div> -->

</body>
</html>