<!DOCTYPE html>
<html>

  <head>
    <% include partials/head %>
  </head>

  <body>
    <header>
      <% include partials/header %>
    </header>
    
    <div>
    	<h1><%= artist.replace("+", " ").toUpperCase(); %> Song Titles</h1>
    	<img src="<%= pic %>">
    </div>

    <div id="container" class="container">  
      <div id="main" role="main">
        <div id="vis"></div>
        <div id="status"></div>
        <div id="controls" class="col-lg-10">
          <h3>Jitter</h3>
          <form id="jitter" oninput="output.value = (jitter_input.value / 200).toFixed(3)" >
            <input id="jitter_input" type="range" min="0" max="400" value="100">
            <output name="output" for="input" style="width:100px;float:right;font-size:40px;margin-top:-35px">0.5</output>
          </form>
        </div>
      </div>   
    </div> <!--! end of #container -->

    <script>
      var lyrics = "<%= lyrics %>"
    </script>
   
    <% include partials/footer %>
  </body>
</html>