body {
  font-size: 18px;
}

.pos{
  /*color: green;*/
  border: 3px green solid;
}

.neg {
  /*color: red;*/
  border: 3px red solid;
}

  

a, a:visited {
  color:#333;
}

#artistSearch {
  margin-bottom: 10px;
}


#container {
  margin-top: 5px;
  width: 1100px;
  border: 2px #ddd solid;
  /*border-right: 2px #ddd solid;*/
  /*background-color: yellow;*/
}

header {
  padding: 10px;
}


#text-select {
  float:right;
  margin-right: 10px;
}

#vis {
  overflow: hidden;
  position: relative;
  width: 1097px;
  height: 510px;
   margin-left:-15px;
  margin-right:-17px;
  /*border: 2px green solid;*/
}

#status {
  padding:0 0 5px 5px;
}

#controls {
  /*padding: 5px;*/
  background-color: #eee;
  margin-left: -11px;
  width: 1090px;
  height: 100px;
  /*float: left;*/
}

/*.form-control{
  width: 50%;
}*/

#jitter {

}

input#jitter_input {
  width:950px;
  float: left;
}

#results {
  padding: 10px;
  background-color: #eee;
  margin-top: 5px;
  margin-left: -11px;
  width: 1090px;
  text-align: left;
  height: 150px;
  /*float: right;*/
}

#bubble-background {
  fill: none;
  pointer-events: all;
}

.bubble-node {
   fill: #d1e0f3; 
  /*fill: #DCE9BE;*/
}

.bubble-new {
   fill: red; 
  /*fill: #DCE9BE;*/
}

.bubble-hover {
  /* fill: #b8c7d9; */
  fill: #E8E9E7;
}

.bubble-selected {
  /* fill: #a8c8ee;  */
  fill: #FFE98F;
  /* stroke: #6081a3; */
  stroke: #A6BA92;
  stroke-width: 1.5px;
}

.active {
  color: #A6BA92
}

a.bubble-label {
  font-family: arial, georgia, "times new roman", times, serif;
  color: inherit;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}


.bubble-label .bubble-label-value {
  font: 11px sans-serif;
  white-space: nowrap;
}

